@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');
/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h3{
    font-size: 30px;
    
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h5{
    font-size: 18px;
    color: #222;
}
h6{
    font-size: 12px;
    font-weight: 700;
}
p{
    font-size: 16px;
    margin: 15px 0 20px 0;
    color: #465b52;
}

.section-padding{
    padding: 40px 80px;
}

.section-margin{
    margin: 40px 0;
}

body{
    width: 100%;
}

.logo{
    text-decoration: none;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #4B111D;
}

/* NAV BAR */

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:#e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar .logo{
    text-decoration: none;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #4B111D;
}


#navbar #nav-links a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}



#navbar #nav-links a:hover, 
#navbar #nav-links a.active{
    color:#088178;
}


/* HOME PAGE */

#hero{
    background-image: url("p-images/freestocks-_3Q3tsJ01nc-unsplash.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1{
    padding-bottom: 15px;
    color: white;
}

#hero h2{
    color: white;
    font-weight: 300;
}

#hero p {
    color: white;
    font-size: 18px;
    padding-left: 20px;
}

#hero button{
    border: 1px solid white;
    background: transparent;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

#hero button:hover{
    background-color: white;
    color: black;
}

#feature .fe-box img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: 0.05s;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    background-color: rgb(168, 247, 227);
    border-radius: 4px;
    color: #088178;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#products{
    text-align: center;
}

#products .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    position: relative;
}

#products .product img{
    width: 100%;
    height: 243px;
    margin-bottom: 15px;
    border-radius: 20px;
}

#products .product .desc{
    text-align: start;
    padding: 10px 0;
}

#products .product .desc span{
    color:#606063;
    font-size: 12px;
}

#products .product .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#products .product .desc i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#products .product .desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#products .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

#products .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#promo{
    background-image: url('p-images/h1.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#promo h4{
    color: #fff;
    font-size: 16px;
}
#promo h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#promo h2 span{
    color: #ef3636;
}

#promo button{
    border: 1px solid white;
    background: transparent;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

#promo button:hover{
    background-color: white;
    color: black;
}

#ads{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#ads .ads-box{
    background-image: url('p-images/h2.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 580px;
    padding: 30px;
}

#ads h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#ads h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#ads span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

#ads button{
    margin-top: 10px;
    border: 1px solid white;
    background: transparent;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

#ads button:hover{
    background-color: white;
    color: black;
}

#ads .suits{
    background-image: url('p-images/b5.jpg');
}
#ads-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#ads-2 .ads-box{
    background-image: url('p-images/b1.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 30%;
    padding: 20px;
    margin-bottom: 20px;
}

#ads-2 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#ads-2 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

#ads-2 .box1{
    background-image: url('p-images/b2.jpg');
}
#ads-2 .box2{
    background-image: url('p-images/b3.png');
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('p-images/cus.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #041e42;
    background-size: cover;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#newsletter span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.2em;
    font-size: 14px;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    border-radius: 4px;
    height: 3.125rem;
    padding: 0 1.2em;
    background-color: #088178;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer .icon a{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 4px;
    padding: 0 20px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#mobile{
    display: flex;
    visibility: hidden;
    align-items: center;
}

#close{
    visibility: hidden;
}

/* SHOP PAGE  */

#shop-hero{
    background-image: url('p-images/shop.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 50% right 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#shop-hero h2{
    color: #088178;
    font-weight: 800;
}
#shop-hero p {
    color:  #088178;
    font-weight: 700;
}

#pagination{
    text-align: center;

}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

/* ****single item page***** */
#item-details{
    display: flex;
    margin-top: 20px;
}
#item-details .single-pro-img{
    width: 40%;
    margin-right: 50px;
}

.single-pro-img #main-img{
    border:2px solid #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.img-group{
    display: flex;
    justify-content: space-between;
}

.sample-img img{
    width: 100%;
}
.sample-img{
    border:2px solid #e3e6f3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    flex-basis: 24%;
    cursor: pointer;
}

#item-details .single-item-details{
    width: 50%;
    padding-top: 30px;
}
#item-details .single-item-details h4{
    padding: 40px 0 20px 0;
}
#item-details .single-item-details h2{
    font-size: 26px;
}
#item-details .single-item-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#item-details .single-item-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#item-details .single-item-details input:focus{
    outline: none;
}
#item-details .single-item-details button{
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 1.2em;
    background-color: #088178;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 15px;
}
#item-details .single-item-details span{
    line-height: 25px;
}

/*******About Us page************/

#about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('p-images/h1.png');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: top 50% right 40%;
}

#about-header h2,
#about-header p{
    color: #fff;
}

#about-details {
    display: flex;
    padding-top: 50px;
}
#about-details img{
    border:2px solid #e3e6f3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 50%;
    margin-right: 50px;
}
#about-details .more-det{
    padding-top: 40px;
}
#about-details .more-det p{
    line-height: 30px;
}
/* ********Contact Page******** */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .C-details{
    width: 40%;
}

#contact-details .C-details span{
    font-size: 12px;
}

#contact-details .C-details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .C-details h3{
    font-size: 26px;
    padding-bottom:  15px;
}

#contact-details .C-details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .C-details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .C-details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form h1{
    font-size: 26px;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    padding: 20px 25px;
    background-color: #088178;
    border: none;
    border-radius: 4px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
/****RESPONSIVENESS /MEDIA QUERY***/ 


@media (max-width:800px) {
    .section-padding{
        padding: 40px 40px;
    }
    #nav-links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #nav-links.show-links{
        right: 0px;
    }
    #nav-links a{
        margin-bottom: 25px;
    }
    #mobile{
        visibility: visible;
    }
    #close{
        position: absolute;
        top: 30px;
        /* left: 20px; */
        color: #222;
        font-size: 30px;
        visibility: visible;
    }
    /* #bar{
        position:inherit;
    } */
    #mobile i{
        color:#1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #hero{
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #products .pro-container{
        justify-content: center;
    }
    #products .product{
        margin: 15px;
    }
    #promo{
        height: 25vh;
    }
    #ads .ads-box{
        min-width: 100%;
        height: 30vh;
    }
    #ads-2{
        padding: 0 40px;
    }
    #ads-2 .ads-box{
        width: 28%;
    }
    #newsletter .form{
        width: 70%;
    }
    /* contact page */
    #form-details{
        padding: 40px;
    }

    #form-details form{
        width: 50%;
    }
}
@media (max-width:477px){
    .section-padding{
        padding: 20px;
    }
    #navbar{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #products .product{
        width: 100%;
    }
    #promo{
        height: 40vh;
    }
    #ads .ads-box{
        height: 40vh;
    }
    #ads .suits{
        margin-top: 20px;
    }
    #ads-2{
        padding: 0 20px;
    }
    #ads-2 .ads-box{
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
    /* single product */
    #item-details{
        display: flex;
        flex-direction: column;
    }
    #item-details .single-pro-img{
        width: 100%;
        margin-right: 0px;
    }
    #item-details .single-item-details{
        width: 100%;
    }
    #about-details {
        display: flex;
        flex-direction: column;
    }
    #about-details img{
        width: 100%;
        margin-left: 0;
    }
    #about-details .more-det{
        width: 100%;
    }
    /* contact page */
    #contact-details{
        flex-direction: column;
    }
    #contact-details .C-deatils{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}
